<!--
    This is a github tag, takes the parameters:
    repoPath: "username/repoName" should fit into the format https://github.com/{ repoPath }
    repoName: Name of the repository
    repoDesc: Description for the repository

    @usage
    <include src='assets/components/github-tag.html' vars="
        repoName: Snippets;
        repoPath: pyrophoenix100/pyrophoenix100.github.io;
        repoDesc: My collection of snippets;
        user: true;">
    </include>
-->
<body display="inline-block">
    <div class="github-tag" onclick="window.location.href = 'https://github.com/{{ repoPath }}'">
        <img src="/assets/logos/github-{? if dark ?}dark{? else ?}light{? endif dark ?}.svg" class="github-tag-icon">
        <div>
            <p class="github-tag-subtext">Repo: {{ repoName }}</p>
            <p class="github-tag-subtext" id="github-tag-description">{{ repoDesc }}</p>
        </div>
    </div>
</body>
<style>
    .github-tag {
        display: flex;
        margin: 10px;
        padding: 8px;
        background-color: var(--dark);
        border-radius: 10px;
        width: max-content;
        box-shadow: 1px 1px 1px var(--box-shadow);
        user-select: none;
        cursor: pointer;
    }
    .github-tag:hover {
        box-shadow: 1px 1px 3px var(--box-shadow);
    }
    .github-tag:active {
        box-shadow: 0px 0px 0px var(--box-shadow);
    }
    .github-tag-icon {
        height: 35px;
        display: inline-block;
        margin-right: 10px;
    }
    .github-tag-subtext {
        font-size: 10pt;
        margin: 0px;
        color: var(--light);
    }
    #github-tag-description {
        font-size: 8pt;
    }
</style>