<!--
    This is a miniature github tag, for use in text, takes the parameters:
    repoPath: "username/repoName" should fit into the format https://github.com/{ repoPath }
    repoName: Name of the repository
-->
<a class='mini-github-tag' href="/{{ path }}">
    <img src="/assets/logos/website-light.svg" class="mini-article-tag-icon">
    {{ article }}
</a>
<style>
    .mini-github-tag {
        font-size: 15px;
        background-color: var(--dark);
        color: var(--half-light);
        display: inline-flex;
        padding: 1px;
        align-items: center;
        padding-right: 8px;
        position: relative;
        top: 3px;
        line-height: 1;
        text-decoration: none;
        border-radius: 15px;
        box-shadow: 1px 1px 1px var(--box-shadow);
    }
    .mini-github-tag:hover {
        box-shadow: 1px 1px 3px var(--box-shadow);
    }
    .mini-article-tag-icon {
        height: 1em;
        width: 1em;
        margin-right: 3px;
    }
    .mini-github-tag:active {
        box-shadow: 0px 0px 0px var(--box-shadow);
    }
</style>